!storage/.keep
*.coverprofile
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.env
.git
.idea/
.playwright-cli/
build/dev/.env
build/dev/config.yaml
build/prod/config.yaml
coverage.*
dev/.env
frontend/blob-report/
frontend/playwright-report/
frontend/public/emulator/
frontend/test-results/
go.work
go.work.sum
graphify-out
profile.cov
storage
tmp
